<div class="container">
  <div class="row mt-1">
    <div class="col-xs-6">
      <h1>
        {{ title }}
      </h1>
    </div>
  </div>
  <style>
    .playlist-row {
      border-bottom: 2px solid transparent;
    }
  </style>
  <div class="row mt-1">
    <div class="col-xs">
      <table class="table table-striped">
        <thead>
          <tr>
              <th> # </th>
              <th> Nazwa </th>
              <th> Utwór </th>
              <th> Ulubiona </th>
          </tr>
        </thead>
        <tbody>
            <tr class="" [ngClass]="{'table-active': selected == playlist, 'playlist-row': true}" 
            [style.borderBottomColor]="playlist.color" 
            [ngStyle] = "{borderBottomColor:playlist.color}"
            (click)="selected = playlist">
                <td> 1 </td>
                <td> {{ playlist.name }} </td>
                <td> 23 </td>
                <td>
                  <label>
                    <input type="checkbox" [(ngModel)]="playlist.favourite">
                  </label>
                </td>
            </tr>

            <tr (click)="selected = null" [ngClass]="{'table-active': selected == null}" >
                <td> 2 </td>
                <td> Angular greatest Hits </td>
                <td> 2 </td>
                <td> false </td>
            </tr>
        </tbody>
      </table>
    </div>
    <div class="col-xs">
        <div class="card" *ngIf="selected == null" >
            <div class="card-block">
              <h4 class="card-title">Nowa playlista</h4>
              <p class="card-text">Tworzenie nowej playlisty</p>
            </div>
            <div class="card-block">
                <div class="form-group">
                  <label>Name: </label>
                  <input type="text" [(ngModel)] = "edited.name" class="form-control">
                </div>
            </div>
        </div>
          <div class="card" *ngIf="selected != null" >
          <div class="card-block">
            <h4 class="card-title">Playlista</h4>
            <p class="card-text">Opis listy</p>
          </div>
          <div class="card-block">
            <div class="form-group">
              <label>Name: </label>
                <input type="text" [(ngModel)]="selected.name" class="form-control">
            </div>
            <div class="form-group">
              <label>Tracks: </label>
                <input type="string" [value]="selected.tracks + ' utworów'" [readOnly]="true" class="form-control">
            </div>
            <div class="form-group">
              <label>Color: </label>
                <input type="color" class="form-control" [(ngModel)]="selected.color">
            </div>
            <div class="form-group">
              <label>
                  <input type="checkbox" [(ngModel)]="selected.favourite"> Favourite: </label>
            </div>
            <div class="form-group">
              <button class="btn btn-success flat-xs-right" (click)="save($event)">Zapisz</button>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>